* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
*:focus {
    outline: none;
}

.main-wrapper{
    line-height: 1.6;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;;
}

.map{
    padding-top: 1em;
}
  
.header h1{
    margin-top: 1em;
    text-align: center;
    color: #3388ff;
}

.navbar{
    margin: 1.5em;
}

.navbar__links{
    height: 50px;
    background-color: white;
    width: 100%; /* Full width */
}

.navbar__links a{
    text-decoration: none;
    color: 	#696969;
    padding-left: 1em;
}


.banner{
    margin: 1em;
    margin-top: 3em;
}

.banner__header{
    color: #696969;
    /* padding-top: 4em; */
}

.banner__para{
    color: #696969;
}


.banner__header__left{
    text-align: right;
    color: #696969;
}

#banner-img{
    width: 15em;
    height: 5em;
    padding-left: 12em;
}

.weather{
    margin: 1em;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1em;
}

.weathers{
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
}

.weather__humidity{
    background-color: #ffd040;
}

.weather__sunlight{
    background-color: #5beaa5;
}

.weather__wind{
    background-color: #3388ff;
}

.weather__pressure{
    background-color: #8590aa;
}

.icon8{
    width: 1em;
    margin-top: 0.3em;
}

/*


Map Styling */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
    margin-top:1em;
    height: 20em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    font-weight: 300;
}
  
#infowindow-content .title {
    font-weight: bold;
}
  
#infowindow-content {
    display: none;
}
  
#map #infowindow-content {
    display: inline;
}
  
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family:'Comic Neue', cursive;
}
  
#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}
  
.pac-controls {
    display: inline-block;
    /* padding: 5px 11px; */
}
  
.pac-controls label {
    font-family: 'Dancing Script', cursive;
    font-size: 13px;
    font-weight: 300;
}
  
#pac-input {
    /* margin-top: 4em; */
    background-color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    font-weight: 300;
    margin-left: 8px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 250px;
    height: 30px; 
    z-index: 0;
    position: absolute;
    top: 0px;
    margin-top: 5em;
    margin-left: -13.5em;
}
  
#pac-input:focus {
    border-color: #4d90fe;
}
  
#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
  
#target {
    width: 345px;
}


@media only screen and (min-width:961px){
    .weathers{
        width: 15em;
        height: 15em;
        border-radius: 0.5em;
    }

    .weather__span{
        font-size: 1.5em;
    }

    .weather__para{
        font-size: 2em;
    }

    .fas, .icon8{
        font-size: 3rem;
        padding-top: 1em;
    }

   


    /* #pac-input{
        margin-left: 0.3em;
    } */
}